@use "../minimal-mistakes/variables";

.masthead_fixed{
    background-color: variables.$lightest-gray;
    border-bottom: 1px solid variables.$border-color;

    .greedy-nav {
        a {
            color: variables.$masthead-link-color;
        }

        .navicon {
            background: variables.$primary-color;

            &:before,
            &:after {
                background: variables.$primary-color;
            }
        }

        .close .navicon {
            background: transparent;
        }

        .masthead-circle {
            border: 1px solid variables.$masthead-link-color;
        }

        .hidden-links {
            background: #fff;

            .masthead-circle {
                border: 0;
            }
        }
    }
}

.masthead_shrink{
    padding: 0.5em 1em 0.5em;
}