@use "../minimal-mistakes/variables";
@use "../minimal-mistakes/vendor/breakpoint/breakpoint";

.sidebar__right_fix {

  @include breakpoint.breakpoint(variables.$large) {
    position: fixed;
  }

  @include breakpoint.breakpoint(variables.$x-large) {
    width: variables.$right-sidebar-width-narrow;
  }

  @include breakpoint.breakpoint(1440px) {
    width: variables.$right-sidebar-width;
  }
}

.toc__menu_active {
  color: #000;
  background: #f2f3f3;
}